/*footer*/

footer {
    width: auto;
    height: auto;
    background: #30343F;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.p-footer {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
}

footer .ul-footer {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-top: 85px;
    margin-top: -22px;
    margin-bottom: 80px;
}

footer .ul-footer li {
    gap: 10px;
}

footer .ul-footer li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

footer .logo-footer {
    grid-column: 3;
    grid-row: 1;  
    padding-top: 25%;
 
}